.user-wrapper
  .user-info-wrapper.span4
    .user-contact
      this is contact
    .user-skill
      this is skill
  .timeline-wrapper.span8
    .timeline
      - @user.experiences.each do |experience|
        .experience-wrapper.clearfix
          .experience-time.pull-left
            = experience.start_at.strftime("%y.%m")
          .experience-content.span4.well.pull-left
            %h5
              = experience.summary
              %hr
            = experience.detail
